@import "tailwindcss";

*{
    scroll-behavior: smooth;
    transition: background-color 0.4s ease, color 0.4s ease;
}

@keyframes wipe {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-wipe {
  animation: wipe 0.4s ease-out forwards;
}
